$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$font-family-sans-serif: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$body-bg: #393939 !default;
$main-bg: #f9f9f7;
$border-color: #dfdfdf;
$toolbar-color: #5b5b5b;
$tab-active-color: #333333;
$table-bg-hover: #f0f0f0;
$state-warning-text: #e39300 !default;
@import "iconfont.scss";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
html {
    height: 100%;
}
body {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
a, .btn-link {
    &:hover {
        text-decoration: none;
    }
}
.align-center {
    text-align: center;
}
.icon-shuxian2 {
    margin: 0;
}
.browsehappy {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #ffffff;
    background: #e39300;
    margin: 0;
    padding: 5px;
    z-index: 100;
}
.btn-warning {
    @include button-variant(#ffffff, #e39300, #e39300);
}
.btn-black {
    background-color: #2c2c2c;
    border-color: lighter(#2c2c2c, 5%);
    color: #fff;
    &:hover, &.action {
        background-color: #e39300;
        border-color: #e39300;
        color: #ffffff;
    }
}
//背景白色，字体橙色
.btn-custom-a {
    @include button-variant(#e39300, #fafafa, #c8c8c8);
}
//背景灰色，字体白色
.btn-custom-b {
    @include button-variant(#ffffff, #ababab, #ababab);
}
//背景淡灰色，字体黑色
.btn-custom-c {
    @include button-variant(#333333, #eeeeee, #c8c8c8);
}
//背景黄色，字体白色
.btn-custom-d {
    @include button-variant(#ffffff, #f09b00, #ffffff);
}
//背景暗黄色，字体白色
.btn-custom-e {
    @include button-variant(#ffffff, #d48900, #ffaf1d);
}
.btn-link-custom-a {
    color: #e39300;
    &:hover, &:focus {
        color: #eb9800;
    }
}
.text-danger {
    color: #cd0202;
}
.text-success {
    color: #1abf09;
}
/*
**--------------------------
** 头部样式 Start
**-------------------------- 
*/

$header-color: #999999;
header {
    &#header {
        font-size: 85.7%;
        .navbar-brand {
            padding-bottom: 21px;
        }
        .navbar-default {
            background: none;
            border: 0px;
            border-radius: 0px;
            .navbar-nav {
                & > li {
                    a {
                        color: $header-color;
                        padding-top: 19px;
                        padding-bottom: 19px;
                        &:hover {
                            color: lighten($header-color, 15%);
                        }
                    }
                }
            }
            .navbar-text {
                color: $header-color;
                margin-top: 20px;
                margin-bottom: 19px;
            }
        }
        .divider-vertical {
            border-left: 1px solid #2e2e2e;
            border-right: 1px solid #484848;
            height: 56px;
        }
        .member-count {
            margin-left: 100px;
            span {
                margin-right: 10px;
            }
            strong {
                color: #e39300;
                margin-right: 5px;
            }
        }
    }
}
/*
**--------------------------
** 头部样式 End
**-------------------------- 
*/
/*
**--------------------------
** 整体框架布局 Start
**-------------------------- 
*/

.wrap-all {
    width: 100%;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $main-bg;
    .col-side {
        float: left;
        width: 227px;
        height: 100%;
        margin-right: -100%;
        background-color: $body-bg;
    }
    .col-main {
        float: left;
        width: 100%;
        height: 100%;
        .col-main-inner {
            margin-left: 227px;
            background-color: $main-bg;
            height: 100%;
        }
    }
    &.col-3 {
        .col-main {
            float: left;
            width: 90%;
            height: 100%;
            .col-main-inner {
                margin-left: 227px;
                background-color: $main-bg;
                height: 100%;
            }
        }
        .col-extend {
            float: left;
            width: 10%;
            height: 100%;
            border-left: 1px solid $border-color;
        }
    }
}
/*
**--------------------------
** 整体框架布局 End
**-------------------------- 
*/
/*
**--------------------------
** 左侧菜单栏 Start
**-------------------------- 
*/

#side-menu {
    .nav {
        > li {
            &:hover, &.active {
                > a {
                    color: #e39300;
                    background-color: #434343;
                }
            }
            > a {
                padding: 15px 20px;
                color: #bebebe;
            }
        }
    }
}
/*
**--------------------------
** 左侧菜单栏 End
**-------------------------- 
*/
/*
**--------------------------
** 顶部的工具栏样式 Start
**-------------------------- 
*/

.toolbar-top {
    line-height: 63px;
    border-bottom: 1px solid $border-color;
    padding-left: 15px;
    text-align: center;
    @include clearfix();
    .title {
        color: $toolbar-color;
        font-size: $font-size-large;
        float: left;
        small {
            margin-left: 50px;
            color: #999999;
            font-size: $font-size-small;
        }
        .iconfont {
            font-size: ceil(($font-size-base * 1.42));
        }
    }
    .title-center {
        display: inline-block;
        strong {
            font-weight: normal;
            margin: 0 20px;
            font-size: $font-size-large;
        }
    }
    .btn-wrap {
        &.pull-right {
            margin-right: 20px;
        }
    }
    .navbar-nav {
        &.navbar-right {
            margin-right: 0;
        }
        > li {
            &:hover, &.active {
                > a {
                    color: lighten(#7e7e7e, 15%);
                    &.btn-slide-close {
                        background: $main-bg;
                    }
                }
            }
            > a {
                color: #7e7e7e;
                padding-top: 22px;
                padding-bottom: 22px;
            }
            &.divide {
                width: 1px;
                background: $border-color;
                height: 37px;
                position: relative;
                top: 14px;
                margin-right: 5px;
            }
        }
    }
    .navbar-form {
        margin-top: 0;
        margin-bottom: 0;
        .has-feedback {
            .form-control-feedback {
                top: 15px;
                color: #999999;
            }
        }
        &.navbar-right {
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
/*
**--------------------------
** 顶部的工具栏样式 End
**-------------------------- 
*/
/*
**--------------------------
** 内容区域样式 Start
**-------------------------- 
*/

.content-box {
    overflow-y: auto;
    .content-box-inner {
        min-height: 80%;
        margin: 20px;
        padding: 30px;
        border: 1px solid $border-color;
    }
    .action-group {
        margin-bottom: 20px;
    }
}
.content-nav {
    width: 180px;
    margin: 20px 0 30px 50px;
    text-align: center;
    li {
        margin-bottom: 10px;
        > a {
            color: #666666;
            font-size: $font-size-large;
            border: 1px solid $border-color;
        }
        &.active {
            > a {
                background-color: #8a8a8a;
                color: #fff;
            }
        }
    }
}
/*
**--------------------------
** 内容区域样式 End
**-------------------------- 
*/
/*
**--------------------------
** 自定义风格为a的navtabs Start
**-------------------------- 
*/

.nav-tabs-a {
    margin-bottom: 30px;
    > li {
        font-size: ceil(($font-size-base * 1.14));
        > a {
            color: lighten($tab-active-color, 30%);
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $border-color;
            &:hover {
                background-color: transparent;
                border-color: lighten(#cc8400, 30%);
            }
        }
        // Active state, and its :hover to override normal :hover
        &.active > a {
            &, &:hover, &:focus {
                color: $tab-active-color;
                border: none;
                background-color: transparent;
                color: $tab-active-color;
                border-bottom: 2px solid #cc8400;
                cursor: default;
            }
        }
    }
}
/*自定义风格为b的navtabs*/

.nav-tabs-b {
    margin-bottom: 20px;
    > li {
        font-size: ceil(($font-size-base * 1.14));
        > a {
            color: lighten($tab-active-color, 30%);
            background-color: transparent;
            border: 1px solid $border-color;
            &:hover {
                background-color: transparent;
            }
        }
        // Active state, and its :hover to override normal :hover
        &.active > a {
            &, &:hover, &:focus {
                color: #e39300;
                background-color: #f2f2ea;
                cursor: default;
            }
        }
    }
}
/*概览信息显示区*/

.badge-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
    li {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        margin-right: 100px;
        h4 {
            font-size: ceil(($font-size-base * 1.14));
        }
        > span {
            border-radius: 8px;
            color: #fff;
            display: block;
            width: 100px;
            line-height: 100px;
            margin: 0 30px;
            font-size: ceil(($font-size-base * 2.857));
        }
        &.badge-a {
            > span {
                background-color: #7dafec;
            }
        }
        &.badge-b {
            > span {
                background-color: #87b33e;
            }
        }
        &.badge-c {
            > span {
                background-color: #f7af4a;
            }
        }
        &.badge-d {
            > span {
                background-color: #f37a54;
            }
        }
    }
}
/*定义了默认table的样式*/

.table-default {
    > tbody, > thead {
        > tr {
            > td, > th {
                cursor: pointer;
                vertical-align: middle;
                padding-top: 14px;
                padding-bottom: 14px;
            }
        }
    }
    > thead {
        > tr {
            > th {
                background-color: #f0f0f0;
            }
        }
    }
}
.table-no-border {
    > tbody, > thead {
        > tr {
            > td, > th {
                border: none;
            }
        }
    }
}
.table-member-list {
    .addition {
        color: #999;
    }
}
/* 自定义artDialog的样式*/
/*
**--------------------------
** 自定义artDialog的样式
**-------------------------- 
*/

.ui-dialog {
    //自定义默认弹出窗口样式
    &.skin-popup {
        border: 1px solid #1c86cf;
        font-family: inherit;
        .ui-dialog-title {
            font-weight: normal;
        }
        .ui-dialog-arrow-a {
            border-bottom: 8px solid #1c86cf;
        }
        .ui-dialog-footer {
            button {
                border-radius: 3px;
                padding-left: 30px;
                padding-right: 30px;
                &.ui-dialog-autofocus {
                    background-color: #e39300;
                    border-color: lighten(#e39300, 15%);
                }
            }
        }
        //特殊确认对话框
        &.skin-confirm {
            .ui-dialog-header {
                .ui-dialog-title {
                    font-size: ceil(($font-size-base * 1.14));
                }
            }
            .ui-dialog-body {
                .ui-dialog-content {
                    text-align: center;
                }
            }
            .ui-dialog-footer {
                text-align: center;
                .ui-dialog-button {
                    float: none;
                    padding-bottom: 20px;
                }
            }
            .help {
                position: absolute;
                width: 100%;
                bottom: 0px;
                left: 0px;
                text-align: center;
            }
        }
    }
    //处理中模态提示
    &.skin-processing {
        font-family: inherit;
        background-color: transparent;
        color: #fff;
        border: none;
        box-shadow: none;
    }
    //处理结束模态提示
    &.skin-result {
        font-family: inherit;
        background-color: transparent;
        color: #fff;
        border: none;
        box-shadow: none;
        .ui-dialog-header {
            border-bottom: none;
        }
        .ui-dialog-close {
            color: #fff;
            opacity: 0.5;
        }
    }
}
.ui-popup-top-right {
    .ui-dialog {
        &.skin-popup {
            .ui-dialog-arrow-a {
                border-bottom-color: transparent;
                border-top: 8px solid #1c86cf;
            }
        }
    }
}
/*新增预约弹出框*/

.dialog-new-reservation {
    display: none;
    width: 258px;
    .iconfont {
        color: #666;
        font-weight: 500;
    }
    h5 {
        margin-top: 0;
    }
    ul {
        list-style: none;
        margin: 0;
        margin-bottom: 10px;
        padding-left: 25px;
        li {
            display: inline-block;
            margin-right: 5px;
            .iconfont {
                color: #1c86cf;
                font-size: $font-size-small;
                margin-left: 5px;
                vertical-align: text-top;
            }
        }
    }
    .form-group {
        margin-top: 10px;
        .datetimepicker {
            margin-left: 5px;
            width: 220px;
        }
    }
}
/*新增用户弹出框*/

.dialog-add-member {
    display: none;
    width: 258px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 5px;
        }
    }
}
/*新增课程弹出框*/

.dialog-add-course, .dialog-add-coach {
    display: none;
    width: 258px;
    .checkbox {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    p {
        .iconfont {
            font-size: $font-size-small;
            vertical-align: text-top;
        }
        a {
            text-decoration: none;
        }
    }
    &.trigger-by-add-coach {
        width: auto;
        label {
            font-weight: bold;
            margin-right: 20px;
        }
    }
}
.dialog-import-bath-result {
    display: none;
    width: 400px;
    text-align: center;
    p {
        line-height: 2;
    }
    strong {
        font-size: ceil(($font-size-base * 1.7));
        color: #e39300;
    }
    div {
        margin-top: 20px;
    }
}
/*
**--------------------------
** 数据导入页面的样式 Start
**-------------------------- 
*/

.import-single {
    label {
        font-weight: normal;
        margin-left: 20px;
        &.more {
            a {
                text-decoration: none;
            }
        }
        display: inline;
    }
    .block {
        @include clearfix();
        display: block;
        margin: 20px 0 0 50px;
    }
    .form-group {
        margin-top: 10px;
    }
}
.import-batch {
    p {
        margin-top: 20px;
    }
}
/*
**--------------------------
** 数据导入页面的样式 End
**-------------------------- 
*/
/*
**--------------------------
** 右侧滑出窗口样式 End
**-------------------------- 
*/

.slide-box {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    background-color: $main-bg;
    overflow: hidden;
    transition: width .5s;
    z-index: 10;
    .toolbar-top {
        width: 700px;
        font-size: $font-size-small;
        .title {
            font-size: $font-size-base;
            .iconfont {
                color: #1c86cf;
                font-size: $font-size-base;
                margin-right: 5px;
            }
        }
        .navbar-nav {
            > li {
                &:hover, &.active {
                    > a {
                        color: lighten(#666666, 15%);
                        .iconfont {
                            color: lighten(#8c8c8c, 15%);
                        }
                    }
                }
                > a {
                    color: #666666;
                    padding-top: 22px;
                    padding-bottom: 22px;
                    .iconfont {
                        color: #8c8c8c;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    border-left: 1px solid $border-color;
    box-shadow: -2px 0 5px 0 $border-color;
    .container {
        width: 685px;
        padding: 0 30px;
        .row {
            padding: 20px 0;
            border-bottom: 1px dotted $border-color;
        }
    }
    dl {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        dt, dd {
            display: inline;
        }
        dt {
            font-weight: normal;
            text-align: right;
        }
        dd {
            color: #666666;
        }
    }
    .stat {
        dl {
            dt {
                display: inline-block;
                width: 200px;
            }
        }
    }
    .member-info {
        dl {
            dt {
                display: inline-block;
                width: 6em;
            }
        }
    }
    table {
        margin-bottom: 0;
    }
    &.slide-box-coach {
        .bianji {
            > a {
                color: #1c86cf;
            }
        }
        .row {
            padding-bottom: 10px;
        }
        h4 {
            margin: 5px;
        }
        .table-date {
            font-size: $font-size-small;
            margin-top: 20px;
            margin-bottom: 30px;
            th {
                color: #666666;
                font-weight: normal;
                padding-top: 20px;
                padding-bottom: 20px;
                width: 8em;
                text-align: center;
            }
            td {
                color: #e39300;
                padding-top: 20px;
                padding-bottom: 20px;
                vertical-align: middle;
            }
        }
        .item {
            margin-left: 25px;
            span, i {
                margin-right: 1em;
            }
            i {
                font-style: normal;
                color: #999999;
            }
            .iconfont {
                color: #1c86cf;
            }
        }
    }
}
/*
**--------------------------
** 预约日历界面样式 
**-------------------------- 
*/

.reservation-calendar-view-switch, .course-calendar-view-switch {
    margin-right: 20px;
}
.coach-list {
    > li {
        > a {
            color: $toolbar-color;
        }
    }
}
/*
**--------------------------
** 用户管理页面样式 
**-------------------------- 
*/

//表单样式A
.form-size-a {
    label {
        &.control-label {
            width: 100px;
        }
    }
    &.normal-label {
        label {
            font-weight: normal;
        }
    }
    .col-btn {
        width: 130px;
    }
    h5 {
        font-weight: normal;
        color: #999999;
        font-size: $font-size-small;
        margin: 30px 0;
    }
}
.form-size-b {
    label {
        &.control-label {
            width: 180px;
        }
    }
    &.normal-label {
        label {
            font-weight: normal;
        }
    }
    font-size: $font-size-small;
}

.form-search {
    .form-control {
        background-color: transparent;
    }
}

.slide-box-edit-member, .action-old-member {
    .form-group {
        // font-size: $font-size-small;
        label {
            width: 100px;
            padding-right: 0;
            color: #666666;
            font-weight: normal;
        }
        .btn-link {
            margin-left: -20px;
        }
    }
}
.slide-box-member-detail, .slide-box-edit-diversion-member {
    // font-size: $font-size-small;
    .info {
        .col-xs-3, .col-xs-4, .col-xs-5 {
            line-height: 33px;
        }
        .col-xs-3, .col-xs-4, .col-xs-12 {
            margin: 5px 0;
        }
        label {
            font-weight: normal;
        }
    }
    .activity {
        &.row {
            padding-bottom: 5px;
        }
        @include clearfix();
        .date {
            width: 165px;
            color: #666666;
        }
        .col-xs-4, .col-xs-8 {
            margin-bottom: 1em;
        }
    }
    .desc {
        color: #999999;
    }
    .btn-group-action {
        margin-top: 20px;
        margin-left: 60px
    }
}
.action-new-member, .action-old-member {
    display: none;
    label {
        font-weight: normal;
    }
}
.analysis-summary {
    margin-bottom: 20px;
    .text-muted {
        color: #666666;
        margin-right: 30px;
    }
}
.member-analysis {
    .analysis-log {
        border-top: 1px solid $border-color;
        margin-top: 20px;
        padding-top: 20px;
    }
}
/*
**--------------------------
** 课程管理页面样式 
**-------------------------- 
*/

.dialog-select-duration {
    display: none;
    .checkbox {
        margin-right: 20px;
    }
}
.dialog-set-workinghour {
    display: none;
    .form-style-a {
        label {
            font-weight: normal;
            margin: 10px;
        }
        .datetimepicker {
            width: 250px;
        }
        margin-bottom: 10px;
    }
    .form-style-b {
        background-color: #f0f0f0;
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        .form-group, .checkbox {
            margin-right: 20px;
        }
        label {
            font-weight: normal;
            padding-right: 0;
        }
    }
    .date-range {
        display: inline-block;
        margin-bottom: 5px;
    }
    .btn-link-a {
        color: #333;
    }
    .col-sm-offset-a {
        margin-left: 20px;
    }
    .col-sm-offset-b {
        margin-left: 65px;
    }
    .col-sm-offset-c {
        margin-left: 5px;
    }
}
.table-course-list {
    margin-top: 20px;
    a {
        color: #333333;
        &:hover {
            color: #1c86cf;
            .iconfont {
                color: #e39300;
            }
        }
    }
    .icon-shuxian2 {
        margin: 0;
    }
}
.form-add-coach {
    .btn-warning {
        width: 116px;
    }
    .checkbox {
        label {
            margin-right: 20px;
        }
    }
}
/*
**--------------------------
** 微体验页面样式 
**-------------------------- 
*/

.weitiyan-index-container {
    width: 700px;
    margin-top: 100px;
    .qr-box {
        margin-top: 100px;
        text-align: center;
        perspective: 500px;
        -webkit-perspective: 500px;
        -moz-perspective: 500px;
        -ms-perspective: 500px;
        perspective-origin: 50% 50%;
        .thumbnail {
            background-color: #ffffff;
            box-shadow: 0 0 20px 1px #6B6B6B;
            transform: rotateY(-10deg);
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            h3 {
                font-size: $font-size-large;
                font-weight: bold;
            }
            img {
                margin: 20px auto;
            }
        }
    }
}
.table-weitiyan-list {
    .text-muted {
        margin-left: 1em;
    }
    a {
        color: #333333;
        &:hover {
            color: #1c86cf;
            .iconfont {
                color: #e39300;
            }
        }
    }
}
.form-weitiyan-edit {
    label {
        &.control-label {
            font-weight: normal;
        }
    }
    fieldset {
        border-bottom: 1px dotted $border-color;
        padding: 20px 0 10px;
        &.no-border {
            border-bottom: none;
        }
        .help-block {
            color: #999;
        }
    }
}
/*
**--------------------------
** 账户设置样式 
**-------------------------- 
*/

.two-step-validate {
    .media {
        background-color: #f3f3f3;
        padding: 30px 40px;
    }
}
.form-password-input {
    width: 413px;
    padding: 20px 10px;
    label {
        font-weight: normal;
        color: #666;
    }
}
.indicator {
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
    .track {
        width: 430px;
        display: inline-block;
        border-bottom: 4px solid #cfcfcf;
        &.enabled {
            border-bottom: 4px solid #1c86cf;
        }
    }
    .node {
        position: absolute;
        text-align: center;
        top: -30px;
        .step {
            margin: 0 auto;
            width: 28px;
            line-height: 28px;
            border-radius: 28px;
            text-align: center;
            color: #fff;
        }
        &.enabled {
            p {
                color: #1c86cf;
            }
            .step {
                color: #ffffff;
                background-color: #1c86cf;
            }
        }
        &.disabled {
            p {
                color: #9b9b9b;
            }
            .step {
                color: #9b9b9b;
                background-color: #cfcfcf;
            }
        }
        &.node-1 {
            left: -55px;
        }
        &.node-2 {
            left: 400px;
        }
        &.node-3 {
            left: 830px;
        }
    }
}
.two-step-validate {
    .container {
        width: 960px;
        margin-left: 0px;
        margin-top: 100px;
    }
    .col-xs-7 {
        text-align: right;
        padding-right: 50px;
    }
    .btn-nav {
        margin-top: 20px;
    }
    &.step-1 {
        .media {
            border: 1px solid $border-color;
            background-color: transparent;
            padding: 5px 20px;
        }
        .icon-anzhuo, .icon-pingguo {
            font-size: 48px;
        }
    }
    &.step-2 {
        .media {
            background-color: transparent;
            padding: 0;
            .bg-info {
                border: 1px solid #aad4f0;
                border-radius: 3px;
                color: #357092;
                padding: 10px;
                font-size: $font-size-base;
                p {
                    margin: 5px 0;
                }
            }
        }
    }
    &.step-3 {
        .btn-warning {
            color: #fff;
        }
        .col-xs-5 {
            margin-top: 70px;
        }
    }
}
/*
**--------------------------
** 圈子管理样式
**-------------------------- 
*/

.container-group {
    width: 100%;
    margin-left: 0px;
    > .row {
        .col-xs-4 {
            width: 200px;
            margin-bottom: 10px;
        }
    }
    table {
        font-size: $font-size-small;
        margin-top: 20px;
        border-top: 1px solid $border-color;
        &.table-activity-list {
            margin-top: 0;
            caption {
                border-top: none !important;
                padding-top: 0px;
                .checkbox {
                    label {
                        span {
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }
            .checkbox {
                color: #999999;
                label {
                    span {
                        position: relative;
                        top: 3px;
                    }
                }
            }
        }
        td {
            border-top: none !important;
            border-bottom: 1px dotted #c7c7c6 !important;
        }
        caption {
            padding: 20px 10px;
            border-top: 1px solid $border-color;
            .checkbox {
                margin-right: 20px;
                label {
                    span {
                        position: relative;
                        top: -2px;
                    }
                }
            }
        }
        p {
            color: #666666;
            margin: 0;
        }
        h5 {
            font-size: $font-size-small;
            small {
                margin-left: 30px;
            }
        }
        .publish-date {
            color: #999999;
        }
        .row {
            &.thumbnail-list {
                margin-left: -6px;
                margin-right: -6px;
                margin-top: 10px;
                > .col-xs-4 {
                    padding-left: 6px;
                    padding-right: 6px;
                }
                .thumbnail {
                    padding: 0;
                    background-color: transparent;
                    border: none;
                    margin-bottom: 10px;
                }
            }
        }
        .icon-zan, .icon-pinglun {
            margin-right: 3px;
            color: #e39300;
        }
        .num {
            margin-right: 10px;
        }
        .avatar-list {
            i, a {
                margin-right: 10px;
            }
            white-space: nowrap;
        }
        .btn-action-group {
            padding: 20px 0 50px;
        }
    }
}
/*
**--------------------------
** 统计报表相关样式
**-------------------------- 
*/

ul {
    &.chart-age-data {
        width: 800px;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            line-height: 56px;
            strong {
                display: inline-block;
                background-color: #5ea8db;
                height: 36px;
                vertical-align: middle;
            }
            span {
                margin-left: 10px;
            }
        }
    }
}
.chart-member-age {
    width: 1020px !important;
    margin-left: 0;
    margin-top: 100px;
    h1 {
        color: #666;
        margin: 0;
        line-height: 64px;
    }
    .col-xs-6 {
        position: relative;
        &.nan {
            .bg {
                background: url(../images/bg_nan.png) repeat-x right center;
            }
            .fg {
                right: 15px;
                background: url(../images/bg_nan_active.png) repeat-x right center;
            }
            h1 {
                text-align: right;
            }
        }
        &.nv {
            .bg {
                background: url(../images/bg_nv.png) repeat-x left center;
            }
            .fg {
                left: 15px;
                background: url(../images/bg_nv_active.png) repeat-x left center;
            }
            h1 {
                text-align: left;
            }
        }
    }
    .bg {
        height: 48px;
    }
    .fg {
        position: absolute;
        top: 64px;
        height: 48px;
        overflow: hidden;
    }
}
/*
**--------------------------
** 登录页面
**-------------------------- 
*/

.bg-home {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
}
.container-home {
    z-index: 2;
    width: 1200px;
    position: relative;
    padding-top: 110px;
    a {
        &:hover {
            opacity: 0.8;
        }
    }
    .col-left {
        text-align: right;
        a {
            margin-top: 162px;
            display: block;
        }
    }
    .col-right {
        text-align: left;
        a {
            margin-bottom: 40px;
            display: block;
        }
    }
    .col-center {
        text-align: center;
        p {
            margin: 20px 0;
        }
    }
}
/*
**--------------------------
** 首次登陆引导页面
**-------------------------- 
*/

.dialog-guide {
    width: 555px;
    height: 578px;
    background: url(../images/bg_guide.png) no-repeat center center;
    padding-top: 140px;
    text-align: center;
    h3 {
        font-size: $font-size-large;
        font-weight: bold;
        line-height: 1.8;
    }
    h4 {
        margin-top: 70px;
    }
    p {
        margin-top: 60px;
        line-height: 2.2;
        font-size: $font-size-small;
        color: #ffdc9b;
        a {
            font-size: $font-size-base;
        }
    }
}

/*
**--------------------------
** 日历样式
**-------------------------- 
*/
.fc-week {
    .fc-day {
        &:hover {
            background-color: #ebebeb;
        }
    }
}