$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$font-family-sans-serif:  "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$body-bg: #393939 !default;
$main-bg: #f9f9f7;
$border-color: #dfdfdf;
$toolbar-color: #5b5b5b;
@import "iconfont.scss";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html {
    height: 100%;
}

body {
    height: 100%;
}

.browsehappy {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #ffffff;
    background: #e39300;
    margin: 0;
    padding: 5px;
    z-index: 100;
}

$header-color: #999999;
header {
    &#header {
        font-size: 85.7%;
        .navbar-brand {
            padding-bottom: 21px;
        }
        .navbar-default {
            background: none;
            border: 0px;
            border-radius: 0px;
            .navbar-nav {
                & > li {
                    a {
                        color: $header-color;
                        padding-top: 19px;
                        padding-bottom: 19px;
                        &:hover {
                            color: lighten($header-color, 15%);
                        }
                    }
                }
            }
            .navbar-text {
                color: $header-color;
                margin-top: 20px;
                margin-bottom: 19px;
            }
        }
        .divider-vertical {
            border-left: 1px solid #2e2e2e;
            border-right: 1px solid #484848;
            height: 56px;
        }
        .member-count {
            span {
              margin-right: 10px;
            }
            strong {
                color: #e39300;
                margin-right: 5px;
            }
        }
    }
}

.wrap-all {
    width: 100%;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;

}

.col-side {
    float: left;
    width: 227px;
    height: 100%;
    margin-right: -100%;
    background-color: $body-bg;
}

.col-main {
    float: left;
    width: 100%;
    height: 100%;
    .col-main-inner {
        margin-left: 227px;
        background-color: $main-bg;
        height: 100%;
    }
}

#side-menu {
    .nav {
        > li {
            &:hover,
            &.active {
                > a {
                    color: #e39300;
                    background-color: #434343;
                }
            }
            > a {
                padding: 15px 20px;
                color: #bebebe;
            }
        }
    }
}

.toolbar-top {
    line-height: 63px;
    border-bottom: 1px solid $border-color;
    padding-left: 15px;
    .title {
        color: $toolbar-color;
        font-size: $font-size-large;
        float: left;
    }
    .navbar-nav {
        > li {
            &:hover,
            &.active {
                > a {
                    color: lighten($toolbar-color, 15%);
                }
            }
            > a {
                color: $toolbar-color;
                padding-top: 22px;
                padding-bottom: 22px;
            }
        }
    }
}